<div class="container">
  <div class="text-center">
    <img src="img/profil.png" alt="profil" class="img-thumbnail rounded-circle" width="200"/>
    <h1 class="display-4">Yayak Yogi Ginantaka</h1>
    <p class="lead">Front End Developer</p>
  </div>
</div>