  <h1>Hellow World!</h1>
  <p>Hello <%= nama %></p>

  <h4>Daftar Mahasiswa</h4>
  <% if (mahasiswa.length < 1) { %>
   <p>Mahasiswa kosong</p>
  <% } else { %> 
  <% mahasiswa.forEach(mhs => { %>
   <ul>
     <li>Nama : <%= mhs.nama %></li>
     <li>Email : <%= mhs.email %></li>
   </ul>
  <% }) %>
  <% } %> 